<%= form_with(model: bow, local: true) do |form| %>
  <% if bow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bow.errors.count, "error") %> prohibited this bow from being saved:</h2>

      <ul>
      <% bow.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :brand_id, class: "col-md-2 col-form-label" %>
    <div class="col-md-10">
      <%= form.select(:brand_id, @brand_options, {}, {class: "form-control"}) %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :type_id, class: "col-md-2 col-form-label" %>
    <div class="col-md-10">
      <%= form.select(:type_id, @type_options, {}, {class: "form-control"}) %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :name, class: "col-md-2 col-form-label" %>
    <div class="col-md-10">
      <%= form.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="actions form-group">
    <%= form.submit class: "btn btn-primary btn-edit" %>
  </div>
<% end %>
