<%= form_with(model: bow, local: true) do |form| %>
  <% if bow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bow.errors.count, "error") %> prohibited this bow from being saved:</h2>

      <ul>
      <% bow.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :brand_id %>
    <%= form.select(:brand_id, @brand_options) %>
  </div>

  <div class="field">
    <%= form.label :type_id %>
    <%= form.select(:type_id, @type_options) %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
