<p id="notice"><%= notice %></p>

<h1>Bows</h1>

<%= render 'search' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Brand</th>
      <th>Type</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bows.each do |bow| %>
      <tr>
        <td><%= bow.brand.name %></td>
        <td><%= bow.type.name %></td>
        <td><%= bow.name %></td>
        <td><%= link_to 'Show', bow %></td>
        <% if admin_signed_in? %>
          <td><%= link_to 'Edit', edit_bow_path(bow) %></td>
          <td><%= link_to 'Destroy', bow, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bow', new_bow_path, class:"btn btn-primary"  %>
