<p id="notice"><%= notice %></p>

<%= render 'search' %>
<hr>
<p>
  <strong>Brand:</strong>
  <%= @bow.brand.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @bow.type.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @bow.name %>
</p>

<% if admin_signed_in? %>
<%= link_to 'Edit', edit_bow_path(@bow), class: "btn btn-primary" %>
<% end %>

<%= link_to 'Back', bows_path, class: "btn btn-secondary" %>
