<p id="notice"><%= notice %></p>

<h1>Bow Strings</h1>

<%= form_tag bow_strings_path, method: :get do %>
  <%= text_field_tag 'color', params[:term], placeholder: "Enter bow string color" %>
  <%= submit_tag 'Search!' %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Material</th>
      <th>Color</th>
      <th>Strand 1 image</th>
      <th>Strand 2 image</th>
      <th>Serving image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bow_strings.each do |bow_string| %>
      <tr>
        <td>
          <ul>
            <% bow_string.materials.each do |material| %>
              <li><%= Material.find(material).name %></li>
            <% end %>
          </ul>
        </td>
        <td><%= bow_string.color.name %></td>
        <td><%= bow_string.strand_1_image %></td>
        <td><%= bow_string.strand_2_image %></td>
        <td><%= bow_string.serving_image %></td>
        <td><%= link_to 'Show', bow_string %></td>
        <td><%= link_to 'Edit', edit_bow_string_path(bow_string) %></td>
        <td><%= link_to 'Destroy', bow_string, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<ul>
  <li><%= link_to 'New Bow String', new_bow_string_path %></li>
  <li><%= link_to 'Reset View', bow_strings_path %></li>
</ul>
