<p id="notice"><%= notice %></p>

<p>
  <strong>Material:</strong>
  <%= @bow_string.material.name %>
</p>


<p>
  <strong>Color:</strong>
  <%= @bow_string.color.name %>
</p>

<p>
  <strong>Strand 1 image:</strong>
  <%= @bow_string.strand_1_image %>
</p>

<p>
  <strong>Strand 2 image:</strong>
  <%= @bow_string.strand_2_image %>
</p>

<p>
  <strong>Serving image:</strong>
  <%= @bow_string.serving_image %>
</p>

<%= link_to 'Edit', edit_bow_string_path(@bow_string) %> |
<%= link_to 'Back', bow_strings_path %>
