<%= form_with(model: color, local: true) do |form| %>
  <% if color.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(color.errors.count, "error") %> prohibited this color from being saved:</h2>

      <ul>
      <% color.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :name, class: "col-md-2 col-form-label" %>
    <div class="col-md-10">
      <%= form.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :code, class: "col-md-2 col-form-label" %>
    <div class="col-md-10">
      <%= form.text_field :code, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :count, class: "col-md-2 col-form-label" %>
    <div class="col-md-10">
      <%= form.number_field :count, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :swatch_url, class: "col-md-2 col-form-label" %>
    <div class="col-md-10">
      <%= form.text_field :swatch_url, class: "form-control" %>
    </div>
  </div>

  <div class="actions form-group">
    <%= form.submit class: "btn btn-primary btn-edit" %>
  </div>
<% end %>
