<p id="notice"><%= notice %></p>

<h1>Colors</h1>

<%= form_tag colors_path, method: :get do %>
  <%= text_field_tag 'name', params[:term], placeholder: "Enter color name or color code" %>
  <%= submit_tag 'Search!' %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Count</th>
      <th>Swatch</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @colors.each do |color| %>
      <tr>
        <td><%= color.name %></td>
        <td><%= color.code %></td>
        <td><%= color.count %></td>
        <td><%= color.swatch_url %></td>
        <td><%= link_to 'Show', color %></td>
        <td><%= link_to 'Edit', edit_color_path(color) %></td>
        <td><%= link_to 'Destroy', color, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Color', new_color_path %>
