<p id="notice"><%= notice %></p>

<%= render 'search' %>
<hr>
<p>
  <strong>Name:</strong>
  <%= @brand.name %>
</p>

<% if admin_signed_in? %>
<%= link_to 'Edit', edit_brand_path(@brand), class: "btn btn-primary" %>
<% end %>
<%= link_to 'Back', brands_path, class: "btn btn-secondary" %>
