<p id="notice"><%= notice %></p>

<h1>Materials</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @materials.each do |material| %>
      <tr>
        <td><%= material.name %></td>
        <td><%= material.description %></td>
        <td><%= link_to 'Show', material, class: "btn-sm btn-info" %></td>
        <% if admin_signed_in? %>
          <td><%= link_to 'Edit', edit_material_path(material), class: "btn-sm btn-success" %></td>
          <td><%= link_to 'Destroy', material, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-sm btn-danger" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if admin_signed_in? %>
  <%= link_to 'New Material', new_material_path, class:"btn btn-primary"  %>
<% end %>